/* =============================================================================
   GOOGLE MAPS
   ========================================================================== */
#gmap {
    text-align: center;
    margin: 20px auto 20px auto;
}

#gmap iframe {
    width: 93%;
    height: 200px;

    border: 10px solid #090909;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#gmap small a,
#gmap small a:active,
#gmap small a:visited {
    color: #b1bf92;
    text-decoration: none;
    outline: none;
}

#gmap small a:hover {
    color: #b1bf92;
    text-decoration: underline;
    outline: none;
}
