@media only screen and (min-width: 900px) {


    /* CONTAINERS */

    /* Menu containter */
    .header-container.sticky{
        margin:5px 0 0 0;
        left: 10%;
        width:80%;
        height:auto;
        line-height:5%;
        border: 0px solid yellow;
    }

    nav a {
        margin: 10px 0 10px 20px;            /*top right bottom left */
        padding: 1.5% 1% 1.5% 1%;
        font-size: 200%;
    }

    #introtext {
        margin: 15% 0px 0px 0px;
        width:70%;
        display:inline-block;
        border: 0px solid green;
    }

    /* Laura & Juan */
    #introtext .head-bride {
        font-size: 4em;
    }

    /* Date */
    #introtext .date {
        font-size: 2.0em;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    section{
        width:65%;
        margin-left:auto;
        margin-right:auto;
    }

    section h1 {
        font-size: 3.5em;
    }

    section h2 {
        padding: 0 20px;
        font-size: 1.3em;
        margin-bottom:0px;
    }

    section h3 {
        padding: 0 20px;
        font-size: 1.3em;
        margin-bottom:0px;
    }


    .column.full {
        clear: both;
        width: 100%;
    }

    .column p {
        font-size: 1.1em;
        /* line-height: 145%; */
        padding: 0 20px;
        margin-top:10px;
    }

    .foto {
        height: 220px;
        width: 140px;
    }

    .foto1 {
        height: 150px;
        width: 260px;
    }

    .foto2 {
        height: 150px;
        width: 150px;
    }

    .garg{
        height: 120px;
        width: 120px;
    }

    .container-garg{
        width: auto;
        margin: 0px 0% 0% 35px;
    }


    #gmap iframe {
        width: 300px;
        height: 300px;
    }

    /* ------------- */
    /* SAVE THE DATE */
    /* ------------- */


    .savedate{
        width:70%;
        height: 95%;
        margin: 2% 10%;
        border-radius: 1px;
    }

    .savedateimg{
        margin-top: 17.5%;
        width:55%;
    }

    /* ---------- */
    /* INVITATION */
    /* ---------- */

    .invitation{
        width:580px;
        margin-top:2%;
        margin-left:auto;
        margin-right:auto;
    }

    p.parents{
        margin-top: 2%;
        margin-bottom: 2%;
        font-size:1.1em;
    }

    p.parents.couple{
        font-size:2.6em;
    }

    p.parents.couple.date{
        font-size:1.3em;
    }

    p.guests{
        font-size:1.0em;
    }


    .cactusmidinv{
        width: 10%;
    }

}
